template(name='profile_layout')
    +nav
    .ui.bottom.attached.pushable.segment.scrolling
        +topbar
        +leftbar
        +rightbar
        img.ui.fluid.image.checkin_banner(src="{{c.url 'frontrange' width=1000 height=1000 crop='crop'}}")
        with user_from_username_param
            .ui.stackable.padded.grid
                .row
                    //- img.ui.image.checkin_banner(src="{{c.url banner_image width=1000 height=1000 crop='crop'}}")
                    .four.wide.column
                        a.item(href="/user/#{username}")
                            img.ui.centered.rounded.image(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}")
                        .spacer
                        a(href="/user/#{username}")
                            if first_name
                                .ui.inline.header #{first_name}
                            if last_name
                                .ui.inline.header #{last_name}
                            div
                            if company 
                                .ui.header
                                    +i name='business' 
                                    |#{company}
                            if linkedin_link
                                .ui.circular.compact.button(href=linkedin_link target='_window')
                                    +i name='linkedin'
                            if twitter_link
                                .ui.circular.compact.button(href=twitter_link target='_window')
                                    +i name='twitter'
                            .ui.header
                                strong @#{username}
                                //- small @#{user.username}        
                            a.ui.header(href="/user/#{username}/points" title='points')
                                //- +i name='coins'
                                //- i.coins.icon
                                |#{points} pts
                        // if is_current_user
                        a.ui.large.button.fly_down.no_blink(href="/user/#{username}/edit" title='profile settings')
                            i.cog.icon
                            |account
                        .ui.circular.compact.icon.button.refresh_points(title='refresh point calculation')
                            i.refresh.large.icon
                        if admin 
                            .ui.header 
                                i.shield.icon
                                |admin
                        // else if is_admin
                        //     a.ui.icon.button(href="/user/#{user_from_username_param.username}/edit" title='profile settings')
                        //         +i name='settings' cl='ui avatar image'
                        
                        if is_current_user
                            +logout_button
                            +logout_other_clients_button
                        if in_dev 
                            +print_this
                        +send_points_button
                        +request_button
                        i.refresh.link.icon.calc_user_points
                        if link
                            a.ui.header(href=link target='_window' title=link) 
                                i.globe.icon
                                |Profile Link
                    .twelve.wide.column
                        +profile_menu_item key='credit' icon='money'
                        +profile_menu_item key='social' icon='friends'
                        +profile_menu_item key='posts' icon='blog'
                        +profile_menu_item key='shop' icon='shop'
                        +profile_menu_item key='rentals' icon='clock'
                        +profile_menu_item key='services' icon='wrench'
                        .scrolling
                            +yield
                            
                            
template(name='profile_dashboard')                            
    .ui.stackable.padded.grid
        .four.wide.column
            if bio
                .ui.small.header 
                    |!{bio}
            .ui.header
                +i name='globe'
                |#{lbs_carbon_offset} #lbs carbon offset 
            .ui.header
                +i name='money'
                |#{user_fiat_balance} fiat balance 
            .ui.header
                +i name='cube'
                |#{box_coin_balance} box coin balance 
            .ui.header 
                +i name='donate'
                |deposits
            |includes 2% points card processing fee
            .ui.action.fluid.input
                input.deposit_amount(type='number' min='1' placeholder='deposit')
                .ui.icon.button.add_points   
                    i.right.chevron.icon
                    
            .ui.large.bulleted.list.smallscroll
                each deposit_docs
                    .item 
                        .content
                            .header 
                                |$#{amount}
                            .description #{when} {{long_date _timestamp}}
                            //- if is_dev
                            +remove_button
        .eight.wide.column
            +user_transfers
        .four.wide.column
            +user_posts

                    
                    
template(name='request_button')
    .ui.button.request
        |request
                
                
template(name='user_credit')
    .ui.header 
        +i name='money'
        |user credit 
    .ui.header 
        |deposits
    +user_transfers
    
                    
                    
          
template(name='profile_menu_item')
    a.ui.compact.button(href="/user/#{current_user.username}/#{key}")
        +i name=icon
        |#{key}
                 
template(name='user_social')                 
    .ui.header user social
    .ui.header friends
          
          
template(name='user_shop')                 
    .ui.header user shop
    .ui.header products
    .ui.header purchases
          
          
          
                
template(name='user_posts')                
    .ui.header 
        +i name='blog'
        |user posts
    .ui.label #{post_points} post points earned
    .ui.large.link.list
        each user_post_docs
            a.ui.header(href="/post/#{_id}") #{title}            
                    
                    
                    
                    



template(name='logout_other_clients_button')
    .ui.compact.button.logout_other_clients(title='logout other clients')
        +i name='globe'
        |log out other clients



template(name='logout_button')
    .ui.large.button.logout(title='log out')
        // i.sign.out.alternate.icon
        +i name='exit'
        |log out


// template(name='profile_order_item')
//     .ui.segment.grid
//         .row
//             .column
//                 .ui.header #{rental.title}
//         .row
//             .column
//                 with rental
//                     //- img.ui.mini.image(src=image)
//                     +image_view key='image_id'  cl='zoom ui tiny image'
//             .column
//                 a.ui.header.inline.lowercase(href="/order/#{_id}/")
//                     small from 
//                     |{{cal_time start_datetime}}
//                 a.ui.header.inline.lowercase(href="/order/#{_id}/")
//                     small to 
//                     |{{cal_time end_datetime}}
//                 div
//                 .ui.grey.inline.header #{hour_duration} hrs
//                 .ui.grey.inline.header(title='pointss')
//                     i.coins.icon
//                     | #{cost}
//                 .ui.small.inline.header #{when} by #{_author_username}
//                 a.ui.large.button(href="/order/#{_id}/")
//                     |view
//                     i.right.chevron.icon
//                 if is_admin
//                     +remove_button



        


template(name='user_edit')
    +nav
    .ui.bottom.attached.pushable.segment.scrolling
        +topbar
        +leftbar
        +rightbar
        img.ui.fluid.image.checkin_banner(src="{{c.url 'frontrange' width=1000 height=1000 crop='crop'}}")
        with user_from_username_param          
            //- img.ui.fluid.image.checkin_banner(src="{{c.url banner_image_id width=1000 height=500 crop='crop'}}")    
            .ui.stackable.padded.grid
                .three.column.row
                    .column
                        .ui.center.aligned.large.inline.grey.header
                        //- +i name='pencil'
                        .ui.small.inline.header @#{username}
                        a.ui.green.fluid.icon.button.fly_down(href="/user/#{username}/") 
                            i.checkmark.large.icon
                        .ui.hidden.divider
                        +image_edit key='image_id' icon='picture' title='profile image' 
                    .column
                        +text_edit key='first_name' label='first name' icon='user'
                        div
                        +text_edit key='last_name' label='last name' icon='user'
                        div
                        +text_edit key='display_name' label='display name'
                        div
                        +html_edit key='bio' label='bio'
                        .ui.segment
                            .ui.header 
                                +i name='money'
                                |preferred payment received method
                        .ui.button
                            +i name='apple-pay'
                            |apple pay
                        .ui.button
                            +i name='paypal'
                            |paypal
                        .ui.button 
                            +i name='venmo'
                            |venmo
                    .ui.segment 
                        .ui.header
                            +i name='paint'
                            |appearance 
                        // +text_edit key='icon_class' label='icon class'
                        +key_value_edit key='icon_class' value='ios' label='outline'
                        +key_value_edit key='icon_class' value='color' label='color'
                        +key_value_edit key='icon_class' value='office' label='office'
                    if is_current_user
                        +password_edit
                        //- +phone_editor
                        +username_edit
                    else if in_dev
                        +password_edit
                        //- +phone_editor
                        +username_edit
                    if currentUser.admin
                        with user_from_username_param
                            .ui.orange.button.remove_user 
                                i.remove.icon
                                |delete user
                    +boolean_edit key='admin' label='admin' icon='shield' 
                    +link_edit key='link' label='profile link' icon='globe'
                .column
                    .ui.header 
                        i.envelope.outline.icon
                        |emails
                    +emails_edit
                    +text_edit key='address' label='address' icon='marker' 
                    +text_edit key='city' label='city' icon='marker' 
                    +text_edit key='state' label='state' icon='marker' 
                    +phone_edit key='phone' label='phone' icon='phone' 
                    +text_edit key='company' label='company' icon='business'
                    +text_edit key='linkedin_link' label='LinkedIn profile ' icon='linkedin'
                    +text_edit key='twitter_link' label='twitter profile ' icon='twitter'
                    +text_edit key='facebook_link' label='facebook profile ' icon='facebook'



template(name='user_single_doc_ref_editor')
    .ui.header #{label}
    each choices
        .ui.button.select_choice(class=choice_class title=title)
            i.icon(class=icon)
            |#{title}

template(name='username_edit')
    .ui.small.header 
        i.i.cursor.icon
        |change username [#{user_from_username_param.username}]
    .ui.icon.fluid.input
        input.new_username(type='text' placeholder='new username...')
        i.play.link.icon.change_username


     
template(name='phone_editor')
    .ui.small.header    
        i.phone.icon
        |phone
    .ui.icon.fluid.input(title='Add Phone')
        i.plus.icon
        input#phone.form-control(type='phone', name='phone', value='{{newNumber}}')
    if user_from_username_param.profile.phone
        if user_from_username_param.profile.phone_verified
            .ui.label verified
        else
            p
                .ui.label not verified
                a.resend_verification(href='#')
                    |resend code
                .ui.small.icon.button.remove_phone(title='remove phone')
                    i.remove.icon
    else
        .ui.fluid.button.update_phone add phone



template(name='password_edit')
    .ui.small.grey.header
        +i name='password'
        |change password
    //- .ui.fluid.input
    //-     input#password(type='password', placeholder='old password')
    .ui.fluid.icon.input
        input#new_password(type='password', placeholder='new password')
    // if is_dev
    //     .ui.fluid.button.send_enrollment_email
    //         |send enrollment email
    // if is_admin
    //     .ui.fluid.button.reset_password
    //         |reset password
    .ui.fluid.large.button.set_password
        +i name='password' cl='ui mini inline image'
        | set password
            
            
            
         
         
template(name='user_field')         
    .ui.form
        .field  
            label #{label}
            input.user_field(type='text' value=key_value)
                        
                        
            
template(name='emails_edit')
    //- .ui.small.grey.header 
    //-     i.envelope.icon
    //-     | email(s)
    //- #test_email.ui.big.button test email
    .ui.divided.list
        each current_user.emails
            .item 
                // unless verified
                //     .right.floated.content
                //         .ui.button Verify
                .content
                    if verified
                        .ui.big.label(title='verified')
                            | #{address}
                            i.checkmark.icon
                    else
                        .ui.big.label
                            //- i.ban.icon
                            | #{address}
                        if is_staff
                            .send_verification_email.ui.button 
                                |verify
                                i.caret.right.icon
                    .ui.small.icon.button.remove_email
                        i.remove.icon
    .ui.action.fluid.icon.action.input
        input#new_email(type='email' placeholder='add new email address' autocomplete="off")
        #add_email.ui.submit.icon.button 
            i.plus.icon
            //- |email